{% extends 'main/header.html' %}

{% block content %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <h5><a class="nav-link" href="#">Welcome!</a></h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_item">Add an Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_all">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my_favorites/{{user.id}}">My Favorites</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register"> Register</a>
                </li>

            </ul>
        </div>
    </nav>

<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="/">Home</a>
            <h2>Edit an Item</h2>
            <form action="/update/{{item_id}}" method="POST">
                {% csrf_token %}
                {% if messages %} {% for message in messages %} {% if 'name' in message.tags %}
                <p>{{message}}</p>
                {% endif %} {% endfor %} {% endif %}
                {% if messages %} {% for message in messages %} {% if 'desc' in message.tags %}
                <p>{{message}}</p>
                {% endif %} {% endfor %} {% endif %}
                {% if messages %} {% for message in messages %} {% if 'value' in message.tags %}
                <p>{{message}}</p>
                {% endif %} {% endfor %} {% endif %}
                {% if messages %} {% for message in messages %} {% if 'update' in message.tags %}
                <p>{{message}}</p>
                {% endif %} {% endfor %} {% endif %}

                <p>Name of Collectible <input type="text" name="name" id="name" value="{{item.name}}"></p>
                <p>Quantity: <input type="number" name="quantity" id="quantity" value="{{item.quantity}}"></p>
                <p>Value: $ <input type="number" name="value" id="value" value="{{item.value}}"></p>
                <p>Description: <textarea name="desc" id="desc" value="{{item.desc}}">{{item.desc}}</textarea></p>
                <P>Image Link: <input type="url" name="image" id="image"></P>
                <input type="submit" name="submit" value="Update" class="btn-success">
            </form>


        </div>
    </div>
</div>

{% endblock %}