<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors Viewing A Book</title>

</head>

<body>
    <header>
        <h1>{{book.title}} Details</h1>
        <a href="/">Go Back to Books</a>
    </header>
    <hr>
    <h3>ID #{{book.id}}</h3>
    <p>Description: {{book.desc}}</p>
    <hr>
    <h4>Authors</h4>
    <hr>
    <ul>
        <li> need a list of authors</li>
    </ul>
    <form action="/add_author_to_book/{{book_id}}" method="POST">
        {% csrf_token %}
        <select name="Authors" id="authors" selected="selected">
            {% for each in all_authors %}
            <option value="author">{{each.fname}} {{each.lname}}</option>
            {% endfor %}
        </select>

        <input type="submit" name="btn-success" class="btn-btn=success">

    </form>

    <!-- need to add drop down with list of authors to add to book -->
</body>

</html>