* {
    margin: 0 auto;
    padding: 0;
    outline: 1px solid red;
}

header {
    display: flex;
    align-items: flex-end;
}

header img {
    width: 10%;
    margin: 0 0 0 20px;
}

header h1 {
    margin-left: 20px;
}

h2 {
    background: linear-gradient(to bottom, rgba(23, 101, 176, 0.94) 0%, rgb(94 146 166) 50%, rgba(23, 101, 176, 0.94) 100%);
    color: white;
}

.content {
    display: flex;

}

.column1 {
    flex: 1;
    height: 19em;
    
}

.column1 .button1 {
    background-color: rgba(23, 101, 176, 0.94);
    border-radius: 2px;
    color: white;
    height: 30px;
    margin: 5px;
}

.column1 .button2 {
    background-color: orangered;
    border-radius: 2px;
    color: white;
    height: 30px;
    margin: 5px;
}
.ad{
    background-image: url(images/ninja.png), url(images/ninja.png);
    background-position: center;
    background-repeat: no-repeat;
}
.column2 {
    flex: 2;
}
.header{
    height: 100px;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}
.header .home{
    width: 3%;
    height: 23%;
}
.header .phone{
    width: 10%;
    padding: 6em;
    
}