{% extends 'main/header.html' %}

{% block content %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <h5><a class="nav-link" href="#">Welcome!</a></h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_item">Add an Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_all">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my_favorites/{{user.id}}">My Favorites</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register"> Register</a>
                </li>

            </ul>
        </div>
    </nav>

<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="wdw_image">
                <h1>Welcome {{user.fname}}</h1>
                <h2>Disney Collectibles</h2>


                <img src="../../static/images/WDWCastle.jpg" alt="WDWCastle image">
            </div>
        </div>
    </div>
</div>

{% endblock %}