{% extends "main/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
    <div class="col-md-6">
        <h2> Login </h2>
        <form action="/login_request" method="POST" class="form-group" name="login">
            {% csrf_token %} 
            {% if messages %} 
            {% for message in messages %} 
            {% if 'login' in message.extra_tags %}
            <p>{{message}}</p>
            {% endif %} 
            {% endfor %} 
            {% endif %}

            <label for="email" class="form-lable">Email:</label>
            <input type="email" name="email" class="form-control">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control">
            <input type="submit" value="Log In" name="submit" class="btn btn-success">
        </form>
    </div>

    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}