<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random String Generator</title>
    <style>
        h2{
            border: 3px solid black;
            width: 400px;
            padding: 4px;
        }
    </style>

</head>
<body>
    <div>
        
        <h3>Random 14 character String (Attempt #{{request.session.id}})</h3>
        <h2>{{rword}}</h2>
        <a href="/random"><button type="button">Generate</button></a>
        <a href="/random/reset"><button type="reset">Reset</button></a>

    </div>
</body>
</html>
