<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Show Details</title>
    <style>

    </style>
</head>
<body>
    <header>
        <h1>TV Show Details</h1>
        <a href="shows.html">Go Back</a>
    </header>
    <ul>
        <li>Title: {{Show.title}}</li>
        <li>Network: {{Show.network}}</li>
        <li>Release Date: {{Show.release_date}}</li>
        <li>Description: {{Show.descript}}</li>
    </ul>

    <p>Last Updated: {{Show.updated_at}}</p>

</body>
</html>