<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Show Details</title>
    <style>

    </style>
</head>

<body>
    <header>
        <h1>TV Show Details</h1>
        <a href="tvshows">Go Back</a>
    </header>
    <h3>{{shows.id}}</h3>
    <ul>
        <li>Title: {{shows.title}}</li><br>
        <li>Network: {{shows.network}}</li><br>
        <li>Release Date: {{shows.release_date}}</li><br>
        <li>Description: {{shows.descript}}</li>
    </ul>
    <p>Last Updated: {{shows.updated_at}}</p>

</body>

</html>