<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
<style>
.edit{
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 3px;

}
.delete{
    padding: 3px;
    margin: o 3px;
}
</style>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show in allshows %}
        
        <td>{{show.title}} </td>
        <td>{{show.network}} </td>
        <td>{{show.release_date}} </td>
        <td><form action="read_one" method="GET">}<label for="show" class="actionlabels">Show</label></form>
            <form action="edit.html" method="GET">}<label for="edit" class="actionlables">Edit</label></form>
            <form action="delete" method="POST">}<input type="submit" value="Delete" name="delete" id="delete"></form> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="create.html">Add a New Show</a>
</body>
</html>