<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
    <style>
        table{
            min-height:10em;
            width: 30em;
            border: 1px solid black;

        }
        table td{
            border: 1px solid black;
        }
        .edit {
            border-left: 2px solid black;
            border-right: 2px solid black;
            padding: 3px;

        }

        .delete {
            padding: 3px;
            margin: o 3px;
        }
        .actions{
            display: flex;
            margin: .5em;
        }
    </style>
</head>

<body>
    <h1>All Shows</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for show in all_shows %}
        <tbody>
            <tr>
                <td>{{show.id}} </td>
                <td>{{show.title}} </td>
                <td>{{show.network}} </td>
                <td>{{show.release_date}} </td>
                <td class ="actions">
                    <a href="read/{{show.id}}/">Show</a>
                    <a href="{{show.id}}/edit">Edit</a>
                    <a href="{{show.id}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="create">Add a New Show</a>
</body>

</html>