header {
    display: flex;
    justify-content: center;
}

.listing {
    height: 8em;
    display: flex;
    justify-content: center;
}

table {
    width: 400px;
}

hr {
    border-top: 3px solid black;
}

.addauser {
    display: grid;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}