<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Books Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">


</head>

<body>
    <header>

        <a href="/logout">Logout</a>
        <a href="/home">Home</a>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% for review in some_reviews %}
                <h3>{{review.book_review.title}} </h3>
                <h4>Author: {{review.book_review.author}}</h4>
                {% endfor %}
                <hr>
                <h3>Reviews:</h3>
                <hr> {% for review in some_reviews %}
                <h6>Rating: {{review.user_review.fname}} gave this book a {{review.rating}} out of 5</h6>
                <p><a href="/user_info/{{review.user_review.id}}">{{review.user_review.fname}}</a> : {{review.review }} </p>
                <p>Posted on: {{review.created_at}}</p>
                <!-- If user wrote review then user can delete review -->
                {% if user.id == review.user_review.id %}
                <p><a href="/destroy/{{review.book_review.id}}">Delete this Book Review</a></p>

                {% endif %}
                <hr> {% endfor %}
            </div>
            <div class="col-md-6">
                <h2>Add Review Here:</h2>

                <!-- having issues passing book.id -->
                <form action="/add_review" method="POST" class="form-group" name="newuser">
                    {% csrf_token %} {% if messages %} {% for message in messages %} {% if 'review' in message.tags %}
                    <p>{{message}}</p>
                    {% endif %} {% endfor %} {% endif %}
                    <div class="form-group">
                        <label for="review">Review</label>
                        <textarea type="text" name="review" class="form-control"></textarea>
                    </div>
                    <br>
                    <h6>Rating <select name="rating" id="rating" selected='selected'></h6>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>

                        <div class="form-group">
                            <input type="submit" name="submit" value="Add a Review to this Book" id="add_book" class="btn-primary">
                            <!-- star rating -->
                        </div>





            </div>
        </div>
</body>

</html>